## executable file

ISMQ
ISMQ-disjoint
ISMQ-disjoint-AOS
ISMQ-ST
ISMQ-coST
ISMQ-oneST
ISMQ-BIT


## test data

*.in
*.out

## other

*.log

## online judge setting

special
judge
server.py
subtasks.py
*.lst
*.gen
