## executable file

ISMQ
ISMQ-disjoint
ISMQ-disjoint-AOS
ISMQ-disjoint-RemSP
ISMQ-disjoint-lazy-merge
ISMQ-ST
ISMQ-coST
ISMQ-coST-tmp
ISMQ-coST-SOA
ISMQ-oneST
ISMQ-BIT
ISMQ-brute


## test data

*.in
*.out

## other

*.log
*.tex

## online judge setting

special
judge
server.py
subtasks.py
*.lst
*.gen
